<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <div>
        <p>“Mini sistema de información: Administración de productos</p>
        <p>Mi nombre</p>
        <a href="{% url 'logout' %}">Cerrar sesion</a>
        <a href="{% url 'product_create' %}">agregar productos</a>
        {% block content %}{% endblock %}
    </div>
</body>
</html>