<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="detail_modalLabel">Agregar producto</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form action="{% url 'product_create' %}" method="POST" enctype="multipart/form-data">{% csrf_token %}
            <div class="modal-body">
                {% if form.errors %}
                    {% for field in form %}
                        {% for error in field.errors %} 
                        <div class="alert alert-danger">
                                <strong>{{ error|escape }}</strong>
                        </div>
                        {% endfor %}
                    {% endfor %}
                {% endif %}

                <div class="form-floating mb-2">
                    <input type="text" name="name" maxlength="50" class="form-control" placeholder="Nombre" required id="id_name">
                    <label for="id_name" class="floatingInput">Nombre</label>
                </div>
                
                <div class="form-floating mb-2">
                    <input type="number" name="price" class="form-control" min="1000" placeholder="Precio" required id="id_price">
                    <label for="id_price" class="floatingInput">Precio</label>
                </div>
                
                <div class="form-floating mb-2">
                    <textarea name="information" style="height: 100px;" maxlength="500" class="form-control" placeholder="Información" required id="id_information"></textarea>
                    <label for="id_information" class="floatingInput">Información</label>
                </div>
                
                <div class="form-floating mb-2">
                    <input type="date" name="acquisition_date" class="form-control" placeholder="Fecha de adquisición" required id="id_acquisition_date">
                    <label for="id_acquisition_date" class="floatingInput">Fecha de adquisición</label>
                </div>
                
                <div class="form-floating mb-2">
                    <input type="file" name="image" style="height: 70px; padding-top: 38px;" accept="image/png,image/jpeg" class="form-control" placeholder="Imagen" required id="id_image">
                    <label for="id_image" class="floatingInput">Imagen</label> 
                </div>
                
                <select name="id_user" hidden=""><option value="{{request.user.id}}" selected>{{request.user}}</option></select>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="submit" class="btn btn-primary">Agregar</button>
            </div>
        </form>
    </div>
</div>